.looseDiv {
    height: 100vh;
    background-image: url(../../images/worldHigh.svg);
    background-position-x: 260px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px;
}