.quizDiv {
    height: 100vh;
    background-image: url(../../images/worldHigh.svg);
    background-position-x: 260px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.divFlagStyle {
    width: 180px;
    height: 130px;
    background: rgba(135, 206, 250, 0.5);
    border: solid 2px lightskyblue;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .flagStyle {
        width: 150px;
        height: 100px;

    }

}

#confirmButton {
    width: 536px;
    background: rgba(135, 206, 250, 0.5);

}

#inputAnswer {
    margin: 10px;
    width: 500px;
    padding: 0.5rem 1rem;
    background: rgba(135, 206, 250, 0.5);
    border-radius: 0.5rem;
    color: black;
    border-color: lightskyblue
}

.quizButtonStyle {
    background: rgba(135, 206, 250, 0.5);
}