@import "grid";

.pageContainer {
    height: 100vh;
    width: 100vw;
    background-image: url(../../images/world.PNG);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


button {
    border: lightskyblue solid 3px;
    border-radius: 50px;
    background: lightblue;
    color: black
}

.fa-window-close {
    position: absolute;
    left: 0px;
    top: 0px;
}

.divFlagStyle {
    width: 180px;
    height: 130px;
    background: rgba(135, 206, 250, 0.5);
    border: solid 2px lightskyblue;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .flagStyle {
        width: 150px;
        height: 100px;

    }

}

.dataSection {
    width: 300px;
    height: 400px;
    background: rgba(135, 206, 250, 0.5);
    display: none;
    border: lightskyblue solid 3px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    div {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

header {
    height: 50px;
    width: 100vw;
    border: 1px solid skyblue;
    background: rgba(135, 206, 250, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;

    h2 {
        color: black;
        padding: 10px;
        font-size: 20px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .div {
            input {

                border: rgb(135, 206, 250) solid 1px;
                position: relative;
                border-radius: 5px;
                width: 180px;
                height: 30px;
            }

            ul {
                position: absolute;
                top: 50px;
                list-style: none;
                border: 2px solid lightblue;
                border-radius: 0 0 10px 10px;
                background: rgb(135, 206, 250);
                width: 180px;

                li {
                    padding: 5px;
                }
            }
        }

        p {
            text-decoration: none;
            color: black;
            padding: 10px;

        }
    }
}