@import "grid";

.pageContainer {
    height: 100vh;
    width: 100vw;
    background-image: url(../../images/worldHigh.svg);
    background-position-x: 260px;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;

}

.container {
    margin-left: 100px;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border: lightskyblue solid 3px;
    border-radius: 50px;
    background: rgba(135, 206, 250, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


button {
    border: lightskyblue solid 3px;
    border-radius: 50px;
    background: lightblue;
    color: black
}

.quizSection {
    margin-right: 10px;
}

#quizText {
    text-decoration: none;
}

.fa-window-close {
    position: absolute;
    left: 0px;
    top: 0px;
}

.searchSection {
    h2 {
        position: absolute;
        top: 50px
    }

    .div {
        position: absolute;
        top: 90px;
        left: 110px;
        border: 2px solid lightblue;

        input {
            position: absolute;
            top: 0;
            border: rgb(135, 206, 250) solid 1px;
            // border-radius: 50px;
            // padding: 10px;
            // margin: 10px 0 10px 0;
            width: 180px
        }

        ul {
            position: absolute;
            top: 20px;
            list-style: none;
            border: 2px solid lightblue;
            background: rgb(135, 206, 250);
            width: 180px;
        }
    }
}

.divFlagStyle {
    width: 180px;
    height: 130px;
    background: rgba(135, 206, 250, 0.5);
    border: solid 2px lightskyblue;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .flagStyle {
        width: 150px;
        height: 100px;

    }

}

.dataSection {
    width: 500px;
    height: 600px;
    background: rgba(135, 206, 250, 0.5);
    visibility: hidden;
    display: flex;
    justify-content: center;
    position: relative;

}